@{ ViewData["Title"] = "Book a valet"; }

<h1 class="display-4">Create a new booking</h1>

<form asp-controller="Admin" asp-action="Create" method="post">
    @await Html.PartialAsync("_Booking")
</form>
